body {
    background-color: #1E1E1E;
    color: #ECF0F1;
}

header {
    background-color: #243447;
    color: #ffffff;
    border-bottom: 3px solid #8C7853;
    border-radius: 20px 20px 0 0;
    padding: 20px 0;
    background-image: url('/images/texture.jpeg');
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

article {
    background-color: rgba(140, 120, 83, 0.5);
    border: 2px solid #8C7853;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
}

section {
    margin-bottom: 20px;
    border: 2px solid #8c7853;
    background-color: rgba(170, 165, 154, 0.8);
    border-radius: 8px;
    padding: 15px;
}

aside {
    background-color: rgb(140, 120, 83, 0.5);
    border: 2px solid #8C7853;
    width: 60%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: #243447;
    color: #D8D0B8;
    border-top: 3px solid #8C7853;
    background-image: url('/images/texture2.jpg');
    border-radius: 0 0 20px 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url('/images/rathalos.jpg');
    background-size: cover;
    background-position: center;
}

.title{
    font-size: 4em;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    color: #D8D0B8;
    text-shadow: 2px 2px 4px #000000;
}

.title_article{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 20px;
    color: #D8D0B8;
    text-shadow: 2px 2px 4px #000000;
}

.stats_title {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #D8D0B8;
    text-shadow: 2px 2px 4px #000000;
}

.stats_description {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 5px;
    color: #D8D0B8;
    text-shadow: 1px 1px 3px #000000;
}

.stats{
    background-color: rgba(170, 165, 154, 0.8);
    border: 2px solid #8c7853;
}

.objeto_build{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #D8D0B8;
    text-shadow: 2px 2px 4px #000000;
}

.logo {
    width: 12%;
    margin: 1%;
    height: auto;
}

.logo2 {
    width: 12%;
    margin: 1%;
    height: auto;
}